.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 3s ease-in-out alternate-reverse;
  height: 1.5rem;
  position: absolute;
  top: 2.45rem;
  right: 2.15rem;
}

.fa-github {
  position: absolute;
  top: 2rem;
  right: 2rem;
  height: 2.5rem;
  color: #61dafb;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
